{% extends "dashboard/base_template.html" %}
{% block title %}Welfare{% endblock %}

{% load static %}
{% load jsonify %}
{% block static_css %}
<!-- third party css -->
<link href="{% static 'backendassets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"
    type="text/css" />
<link href="{% static 'backendassets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}"
    rel="stylesheet" type="text/css" />
<link href="{% static 'backendassets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}"
    rel="stylesheet" type="text/css" />
<link href="{% static 'backendassets/libs/datatables.net-select-bs4/css//select.bootstrap4.min.css' %}" rel="stylesheet"
    type="text/css" />
<!-- third party css end -->

<!-- App css -->
<link href="{% static 'backendassets/css/bootstrap-purple.min.css' %}" rel="stylesheet" type="text/css"
    id="bs-default-stylesheet" />
<link href="{% static 'backendassets/css/app-purple.min.css' %}" rel="stylesheet" type="text/css"
    id="app-default-stylesheet" />

<link href="{% static 'backendassets/css/bootstrap-purple-dark.min.css' %}" rel="stylesheet" type="text/css"
    id="bs-dark-stylesheet" />
<link href="{% static 'backendassets/css/app-purple-dark.min.css' %}" rel="stylesheet" type="text/css"
    id="app-dark-stylesheet" />
<!-- icons -->
<link href="{% static 'backendassets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Home</a></li>
                    <li class="breadcrumb-item active">Welfare</li>
                </ol>
            </div>
            <h4 class="page-title">Welfare
                <button type="button" onclick="createNewItem()"
                    class="btn btn-soft-primary btn-rounded waves-effect waves-light"><span class="fa fa-plus"></span>
                    New Record</button>
            </h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Records</h4>
                <p class="sub-header font-13">
                    DataTables has most features enabled by default, so all you need to do to use it with your own
                    tables is to call the construction
                    function:
                    <code>$().DataTable();</code>.
                </p>

                <table id="basic-datatable" class="table dt-responsive w-100">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Amount (GH¢)</th>
                            <th>Arrears</th>
                            <th>Mode</th>
                            <th>Date</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for item in transactions %}
                        <tr>
                            <td>
                                <div class="media">
                                    <img class="d-flex mr-2 rounded-circle" src="{{item.user.profile.image.url}}"
                                        alt="Generic placeholder image" height="32" width="32">
                                    <div class="media-body">
                                        <h5 class="m-0 font-14">{{item.user.profile.full_name}}</h5>
                                        <span class="font-12 mb-0">{{item.user.profile.member_id}}</span>
                                    </div>
                                </div>
                            </td>
                            <td>{{item.amount}}</td>
                            <td>{{item.user.profile.welfare_contributor.arrears}}</td>
                            <td>{{item.mode}}</td>
                            <td>{{item.time_stamp}}</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>

            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>

<!-- Modals -->
<div class="modal fade" id="edit-item-modal" tabindex="-1" role="dialog" aria-labelledby="edit-item-modal-title"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="edit-item-modal-title">New Transaction</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="edit-item-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" class="form-control" id="pk">

                    <div class="form-group row mb-3">
                        <label for="member_id" class="col-3 col-form-label">Member ID</label>
                        <div class="col-9">
                            <input type="text" name="member_id" class="form-control" id="member_id"
                                placeholder="Member ID" required>
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label for="amount" class="col-3 col-form-label">Amount</label>
                        <div class="col-9">
                            <input type="number" name="amount" class="form-control" id="amount" placeholder="Amount"
                                required>
                        </div>
                    </div>

                    <div class="form-group mb-0 justify-content-end row">
                        <div class="col-9">
                            <button type="submit" class="btn btn-info waves-effect waves-light">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="error-alert-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-filled bg-danger">
            <div class="modal-body p-4">
                <div class="text-center">
                    <i class="dripicons-wrong h1 text-white"></i>
                    <h4 class="mt-2 text-white">Oh snap!</h4>
                    <p class="mt-3 text-white" id="error_modal_message"></p>
                    <button type="button" class="btn btn-light my-2" data-dismiss="modal">Okay</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Modals -->
<!-- end row-->
{% endblock %}

{% block static_js %}
<!-- Vendor js -->
<script src="{% static 'backendassets/js/vendor.min.js' %}"></script>

<!-- third party js -->
<script src="{% static 'backendassets/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'backendassets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'backendassets/libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'backendassets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'backendassets/libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'backendassets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'backendassets/libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'backendassets/libs/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'backendassets/libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'backendassets/libs/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
<script src="{% static 'backendassets/libs/datatables.net-select/js/dataTables.select.min.js' %}"></script>
<script src="{% static 'backendassets/libs/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'backendassets/libs/pdfmake/build/vfs_fonts.js' %}"></script>
<!-- third party js ends -->
<script src="{% static 'backendassets/js/pages/datatables.init.js' %}"></script>

<!-- App js -->
<script src="{% static 'backendassets/js/app.min.js' %}"></script>

<script>
    $(document).ready(function () {
        $("#edit-item-form").on("submit", async (event) => {
            event.preventDefault();

            const params = new FormData(event.target);

            var target_address = "{% url 'dashboard:add_transaction' %}";

            $.ajax({
                type: 'POST',
                url: target_address,
                data: params,
                contentType: false,
                processData: false,
                success: res => success_call_back(res),
                error: err => error_call_back(err)
            });
        });
    });

    function createNewItem() {
        document.querySelector("#edit-item-form").reset()
        $("#edit-item-modal").modal("show");
    }
    function success_call_back(res) {
        if (res.status === "SUCCESS") {
            window.location.reload();
        }
        else {
            $("#error_modal_message").text(res.status_message);
            $("#error-alert-modal").modal("show");
        }
    }
    function error_call_back(err) {
        $("#error_modal_message").text(`${err.statusText}`);
        $("#error-alert-modal").modal("show");
    }
</script>
{% endblock %}